.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid var(--border-color);
  transition: border-bottom 0.3s ease;
}

.logo {
  font-weight: bold;
}
