:root {
  /* Light Theme */
  --background-color: #ffffff;
  --text-color: #333333;
  --primary-color: #0070f3;
  --secondary-color: #1a1a1a;
  --border-color: #eaeaea;
  --button-background: #0070f3;
  --button-text-color: #ffffff;
  --button-border-color: #0070f3;
  --button-hover-background: #005cd8;
}

[data-theme="dark"] {
  /* Dark Theme */
  --background-color: #1a1a1a;
  --text-color: #e0e0e0;
  --primary-color: #90caf9;
  --secondary-color: #f0f0f0;
  --border-color: #333333;
  --button-background: #90caf9;
  --button-text-color: #1a1a1a;
  --button-border-color: #90caf9;
  --button-hover-background: #64b5f6;
}
