:root {
  --background-color-light: #ffffff;
  --text-color-light: #333333;
  --primary-color-light: #007bff;

  --background-color-dark: #333333;
  --text-color-dark: #f5f5f5;
  --primary-color-dark: #66b3ff;
}

.theme-light {
  background-color: var(--background-color-light);
  color: var(--text-color-light);
}

.theme-dark {
  background-color: var(--background-color-dark);
  color: var(--text-color-dark);
}

body {
  transition: background-color 0.3s ease, color 0.3s ease;
}