.features {
  display: flex;
  flex-direction: column; /* Default to column for mobile */
  justify-content: space-around;
  padding: 2rem 1rem; /* Adjusted for mobile */
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 90%; /* Adjusted for mobile */
  margin-bottom: 2rem; /* Added margin for spacing on mobile */
}

.icon {
  font-size: 2.5rem; /* Adjusted for mobile */
  margin-bottom: 0.8rem;
  color: #007bff;
}

.title {
  font-size: 1.3rem; /* Adjusted for mobile */
  margin-bottom: 0.5rem;
  color: #333;
}

.description {
  font-size: 0.9rem; /* Adjusted for mobile */
  color: #555;
}

/* Tablet and Desktop styles */
@media (min-width: 768px) {
  .features {
    flex-direction: row; /* Revert to row for larger screens */
    padding: 4rem 2rem; /* Revert to original padding */
  }

  .feature {
    max-width: 300px;
    margin-bottom: 0; /* Remove margin on larger screens */
  }

  .icon {
    font-size: 3rem;
  }

  .title {
    font-size: 1.5rem;
  }

  .description {
    font-size: 1rem;
  }
}
