.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f0f0f0;
  color: #333;
  font-size: 0.8em;
  border-top: 1px solid #e7e7e7;
  width: 100%;
  box-sizing: border-box; /* Ensures padding is included in the element's total width and height */
}

.copyright {
  margin: 0;
}

.version {
  margin: 0;
}